<mat-toolbar id="menu-toolbar" class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/about-us" routerLinkActive="horizontal-active-link"
        [routerLinkActiveOptions]="{exact:true}">關於我們</a>
    <a mat-button routerLink="/terms" routerLinkActive="horizontal-active-link"
        [routerLinkActiveOptions]="{exact:true}">使用者條款</a>
    <a mat-button routerLink="/privacy" routerLinkActive="horizontal-active-link"
        [routerLinkActiveOptions]="{exact:true}">隱私權政策</a>
    <a href=""><img class="w-36" src="assets/images/others/LOGO.png" alt=""></a>

    <button mat-button [matMenuTriggerFor]="passengerMenu">乘客專區</button>
    <mat-menu #passengerMenu="matMenu">
        <button mat-menu-item (click)="nextPage(11)">歷史訂單紀錄</button>
        <button mat-menu-item (click)="nextPage(12)">我要坐車</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="driverMenu">司機專區</button>
    <mat-menu #driverMenu="matMenu">
        <button mat-menu-item (click)="nextPage(21)">歷史訂單紀錄</button>
        <button mat-menu-item (click)="nextPage(22)">我要接單</button>
    </mat-menu>
    <!-- <a mat-button routerLink="/ordering" routerLinkActive="horizontal-active-link"
        [routerLinkActiveOptions]="{exact:true}">乘客專區</a>
    <a mat-button routerLink="/pickup" routerLinkActive="horizontal-active-link"
        [routerLinkActiveOptions]="{exact:true}">司機專區</a> -->


    <!-- <a mat-button routerLink="/sign-in" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">登入</a> -->

    <ng-container *ngIf="authService.isLoggedIn(); else loginTemplate">
        <!-- <button mat-button (click)="logout()">登出</button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToAgree()">
                <mat-icon [ngStyle]="{'color': (agreeCount$ | async) > 0 ? 'red' : 'black'}">notifications</mat-icon>
                <ng-conta></ng-conta>
                <span>待回覆訂單（{{ (agreeCount$ | async) }}）</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>登出</span>
            </button>
        </mat-menu>

    </ng-container>
    <ng-template #loginTemplate>
        <a mat-button routerLink="/sign-in" routerLinkActive="horizontal-active-link"
            [routerLinkActiveOptions]="{exact:true}">登入</a>
    </ng-template>
</mat-toolbar>