<div [fxLayout]="direction" [fxLayoutAlign]="(direction == 'row') ? 'start center' : 'center end'">    
    <div class="flex flex-col justify-center">
        <h1 class="font-bold text-5xl text-center">{{avg}}</h1>  
        <div class="ratings">
            <mat-icon *ngFor="let star of stars; let i=index;" class="mat-icon-xs" (click)="rate(i)">{{star}}</mat-icon>
        </div>      
         <p *ngIf="showText" class="ratings-count text-muted text-center">{{ratingsCount}}</p>
    </div>
</div>