<mat-card>
  <mat-card-content>
    <div class="flex gap-2">
      <div class="w-1/2 h-96" style="background-color: rgb(0, 0, 0)">123</div>
      <div class="w-1/2" style="background-color: bisque">

        <form class="flex flex-col example-form" [formGroup]="orderForm">
          
          <mat-form-field class="w-64">
            <mat-label>電話</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>地址</mat-label>
            <input matInput placeholder="Ex.花蓮市" formControlName="address">
          </mat-form-field>
        
        </form>

        <button mat-raised-button color="primary" type="submit" (click)="sendOrder()">送出</button>


        <div class="relative mt-2 rounded-md shadow-sm">
            <input
            type="text"
            name=""
            id=""
            class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="請選擇乘車時間"
          />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
            type="text"
            name=""
            id=""
            class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="請輸入地點(地址)"
          />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
            type="text"
            name=""
            id=""
            class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="請輸入目的地(地址)"
          />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
              type="text"
              name=""
              id=""
              class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="請選擇乘車時間"
            />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
              type="text"
              name=""
              id=""
              class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="請選擇乘車時間"
            />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
              type="text"
              name=""
              id=""
              class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="請選擇乘車時間"
            />
        </div>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input
              type="text"
              name=""
              id=""
              class=" w-full rounded-md border-0 py-1.5 pl-2 pr-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="請選擇乘車時間"
            />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
