<!DOCTYPE html>
<html class="theme-light has-background-light">
  <head>
    <meta charset="UTF-8" />
    <title>Circle - 一個專為您打造的共享乘車平台</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->

    <style>
      section.hero-img {
        background-image: url("assets/images/others/privacy.jpg");
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: top -5vw right 0vw;
        transition: 2s ease-out;
      }
      section.hero-img:hover {
        background-image: url("assets/images/others/privacy.jpg");
        background-size: 125vw;
        background-repeat: no-repeat;
        background-position: bottom -5vw right 0vw;
        transition: 2s ease-out;
      }
    </style>
  </head>
  <body>
    <section class="hero is-medium hero-img">
      <div class="hero-body">
        <p
          class="is-size-1 has-text-white has-text-weight-semibold mb-0 has-text-centered"
        >
          隱私權政策
        </p>
      </div>
    </section>
    <div>
      <div class="container">
        <section class="hero is-light">
          <div class="hero-body mt-5 ml-5 has-text-weight-light">
            <p class="is-size-3 my-3">歡迎使用Circle!</p>
            <p class="is-size-3 my-3">
              在Circle，我們重視您的隱私權，承諾保護您使用我們平台時所提供的個人資料。本政策旨在說明我們如何收集、使用及分享您的資訊。
            </p>
            <ol>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">1. 收集的資訊類型：</p>
                <ul>
                  <li>個人識別資訊：如姓名、電話號碼、電子郵件地址等。</li>
                  <li>位置資訊：為提供乘車服務，我們需要收集您的實時地點。</li>
                  <li>交易紀錄：包括您的乘車歷史和付款資訊。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">2. 資訊的使用：</p>
                <ul>
                  <li>提供並改善我們的服務。</li>
                  <li>處理交易和發送相關通知。</li>
                  <li>客戶服務和支援。</li>
                  <li>安全目的，包括防止欺詐和調查可疑或非法活動。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">3. 資訊的分享：</p>
                <ul>
                  <li>
                    司機：為完成乘車服務，我們將與您的司機分享必要的個人資訊。
                  </li>
                  <li>
                    服務提供者：我們可能會與幫助我們提供服務的第三方共享資訊，如支付處理商。
                  </li>
                  <li>
                    法律要求：當法律要求，或為回應法律程序，如傳票或搜查令，我們可能會披露您的資訊。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">4. 資訊安全：</p>
                <ul>
                  <li>
                    我們採用行業標準的安全措施來保護您的個人資訊，防止未經授權的訪問、公開、修改或銷毀。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">5. 您的權利：</p>
                <ul>
                  <li>您可以隨時查詢或要求更新您的個人資訊。</li>
                  <li>您可以要求刪除您的帳戶及相關資訊。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">6. 政策的更改：</p>
                <ul>
                  <li>
                    我們可能會不時更新本隱私政策。變更後的政策將在本頁面公布，並會提示您有關重大更改。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">7. 聯絡我們：</p>
                <ul>
                  <li>
                    如有任何關於本隱私政策的問題或疑慮，請通過以下方式聯繫我們：
                    service@circle.com
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
