<!DOCTYPE html>
<html class="has-background-light">
  <head>
    <meta charset="UTF-8" />
    <title>Circle - 一個專為您打造的共享乘車平台</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <style>
      section.hero-img {
        background-image: url("assets/images/others/terms.jpg");
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: bottom -5vw right 0vw;
        transition: 2s ease-out;
      }
      section.hero-img:hover {
        background-image: url("assets/images/others/terms.jpg");
        background-size: 125vw;
        background-repeat: no-repeat;
        background-position: bottom -5vw right 0vw;
        transition: 2s ease-out;
      }
    </style>
  </head>
  <body>
    <section class="hero is-medium hero-img" >
      <div class="hero-body">
        <p
          class="is-size-1 has-text-white has-text-weight-semibold mb-0 has-text-centered"
        >
          使用者條款
        </p>
      </div>
    </section>
    <div>
      <div class="container" data-aos="fade-in">
        <section class="hero is-light">
          <div class="hero-body mt-5 ml-5 has-text-weight-light">
            <p class="is-size-3 my-3 has-text-weight-bold">Circle使用者條款</p>
            <p class="is-size-3 my-3">歡迎使用Circle！</p>
            <p class="is-size-3 my-3">
                本條款旨在規範乘客與司機使用Circle平台的規則與義務。當您使用Circle服務時，即表示您同意遵守這些條款。
            </p>
            <ol>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">1. 服務描述：</p>
                <ul>
                  <li>Circle提供一個連接乘客與司機的平台，使雙方可以共享乘車服務。我們的目標是創建一個友善、互利的共享環境，有效利用閒置資源。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">2. 使用者資格：</p>
                <ul>
                  <li>乘客必須年滿18歲以上，具有合法的支付方式。</li>
                  <li>司機必須年滿21歲以上，持有有效的駕駛執照，且車輛必須符合國家及地方的運輸規範。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">3. 使用者責任：</p>
                <ul>
                  <li>
                    乘客應保證提供準確的乘車地點與目的地資訊，並遵守平台上的行為準則。
                  </li>
                  <li>
                    司機應確保車輛處於良好狀態，並提供安全、舒適的乘車環境。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">4. 費用與支付：</p>
                <ul>
                  <li>
                    服務費用將根據乘車距離和時間計算，乘客在乘車結束後需通過平台支付相應的費用。司機將在扣除必要費用後收到報酬。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">5.  隱私與資料保護：</p>
                <ul>
                  <li>Circle承諾保護用戶的個人資料不受侵犯，不會未經同意向第三方透露用戶資訊。</li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">6. 免責聲明：</p>
                <ul>
                  <li>
                    Circle不對因使用平台服務所產生的間接損失承擔責任。在法律允許的最大範圍內，Circle對任何直接、間接、偶然、特殊或衍生性損害不負責任。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">7. 條款的變更與終止：</p>
                <ul>
                  <li>
                    Circle保留隨時修改服務條款的權利。如條款有重大變更，將通過適當方式通知用戶。持續使用服務將視為接受修改後的條款。
                  </li>
                </ul>
              </li>
              <li class="is-size-3 my-3">
                <p class="has-text-weight-bold">8. 爭議解決：</p>
                <ul>
                    <li>
                        任何因使用Circle服務而產生的爭議，應通過友好協商解決。如協商不成，則應依據所在地法律進行訴訟解決。
                    </li>
                </ul>
              </li>
            </ol>
            <p class="is-size-3 my-3">感謝您選擇Circle，我們期待為您提供安全、方便的乘車體驗。</p>
          </div>
        </section>
      </div>
    </div>
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script> -->

    <footer class="footer flex">
      <!-- 左 -->
      <div class="w-8/12 flex flex-col">
    
        <!-- 左上 -->
        <div>
          <p class="">Circle</p>
          <p>Copyright © 2024 All Rights Reserved</p>
          <p>Contact us: service@circle.com | +886 1234-5678</p>
        </div>
    
        <!-- 左下 -->
        <div class="flex">
          <figure style="margin: 10px">
            <a href="https://www.instagram.com/"><img src="assets/images/others/ig.png" alt="" width="40px" height="40px" /></a>
          </figure>
          <figure style="margin: 10px">
            <a href="https://www.facebook.com/"><img src="assets/images/others/fb.png" alt="" width="40px" height="40px" /></a>
          </figure>
        </div>
      </div>
    
    
      <!-- 右 -->
      <div class="w-5/12 flex justify-end items-end gap-2">
        <div>
          <a [routerLink]="['/privacy']">
            <p>隱私權政策</p>
          </a>
        </div>
        <div>
          <a [routerLink]="['/terms']">
            <p>使用者條款</p>
          </a>
        </div>
        <div>
          <a [routerLink]="['/about-us']">
            <p>
              關於我們
            </p>
          </a>
        </div>
      </div>  
    </footer>
  </body>
</html>

