.main{
    // min-height: 100vh;
    min-height: calc(100vh - 140px);
    padding: 16px;
    box-sizing: border-box;
}
.sidenav{
    width: 250px;
    padding: 8px 16px;
    position: fixed;
    .close{
        margin-left: 178px;
    }
    .divider{
        margin: 8px 0;
    }
}

 .mat-toolbar-single-row{
    padding: 0px;
    height: 80px;
 }