<div>
    <mat-card>
        <mat-card-content>
            <div class="grid grid-cols-7 gap-4">
                <div class="col-span-3">
                    <div id="map" style="height: 100%; width:100%;"></div>
                </div>
                <div class="col-span-2">
                    <app-driver-chat></app-driver-chat>
                </div>
                <div class="col-span-2 flex flex-col">
                    <div class="">
                        <mat-card>
                            <mat-card-content>
                                <div class="flex flex-col gap-4" *ngIf="order$ | async as order">

                                    <div class="orderTitle flex flex-row gap-3">
                                        <p class="justify-self-start self-center">訂單資料</p>
                                        <p class="justify-self-start self-center">訂單編號: {{ order.orderCode}}</p>
                                    </div>

                                    <div class="flex flex-row gap-2">
                                        <mat-icon>pin-drop</mat-icon>
                                        <span class="self-center">起始:</span>
                                        <span class="self-center">{{ order.startLocation }}</span>
                                    </div>

                                    <div class="flex flex-row gap-2">
                                        <mat-icon>pin-drop</mat-icon>
                                        <span class="self-center">目的:</span>
                                        <span class="self-center">{{ order.destination }}</span>
                                    </div>

                                    <div class="flex flex-row gap-2">
                                        <mat-icon>alarm</mat-icon>
                                        <span class="self-center">時間:</span>
                                        <span class="self-center">{{ order.pickupTime }}</span>
                                    </div>

                                    <div class="flex flex-row gap-2">
                                        <mat-icon>paid</mat-icon>
                                        <span class="self-center">金額:</span>
                                        <span class="self-center">{{ order.priceRangeDown }} ～ {{ order.priceRangeUp
                                            }}</span>
                                    </div>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>