<mat-card>
  <mat-card-content>
    <div class="grid justify-items-center">
      <div class="h-64 w-96" style="background-color: rgb(0, 0, 0)">1</div>
      <div>
        <div class="flex gap-5">
          <div>
            <mat-spinner></mat-spinner>
          </div>
          <div class="flex flex-col">
            <div>
              <p>尋找司機中</p>
              <mat-divider class="w-64"></mat-divider>
            </div>
            <div>2</div>
          </div>
        </div>
      </div>
      <div style="background-color: rgb(0, 241, 241)">3</div>
    </div>
  </mat-card-content>
</mat-card>
