<footer class="footer flex">
  <!-- 左 -->
  <div class="w-8/12 flex flex-col">

    <!-- 左上 -->
    <div>
      <p class="">Circle</p>
      <p>Copyright © 2024 All Rights Reserved</p>
      <p>Contact us: service@circle.com | +886 1234-5678</p>
    </div>

    <!-- 左下 -->
    <div class="flex">
      <figure style="margin: 10px">
        <a href="https://www.instagram.com/"><img src="assets/images/others/ig.png" alt="" width="40px" height="40px" /></a>
      </figure>
      <figure style="margin: 10px">
        <a href="https://www.facebook.com/"><img src="assets/images/others/fb.png" alt="" width="40px" height="40px" /></a>
      </figure>
    </div>
  </div>


  <!-- 右 -->
  <div class="w-5/12 flex justify-end items-end gap-2">
    <div>
      <a [routerLink]="['/privacy']">
        <p>隱私權政策</p>
      </a>
    </div>
    <div>
      <a [routerLink]="['/terms']">
        <p>使用者條款</p>
      </a>
    </div>
    <div>
      <a [routerLink]="['/about-us']">
        <p>
          關於我們
        </p>
      </a>
    </div>
  </div>  
</footer>