<mat-card>
  <mat-card-content>
    <div class="w-full h-full">
      <div class="text-center">
        <h1>訂單列表</h1>
      </div>
      <div class="grid grid-cols-4 gap-4 overflow-auto">
        <div class="w-full cursor-pointer littleCard" *ngFor="let d of data" (click)="goToPickupDetail(d.id)">
          <mat-card>
            <div>
              <mat-card-content
                ><p><b>訂單編號:</b> {{ d.id }}</p></mat-card-content
              >
            </div>
            <div class="h-64" style="background-color: black;">
                <google-map [center]="center" [zoom]="zoom" height="100%" width="100%">
                  <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
                </google-map>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
