::ng-deep .success {

    .mdc-snackbar__label {
        padding: 0 0 0 0;
    }

    .msgLeft {
        background-color: #1ea97c;
        border-radius: 10px 0 0 10px;

        .icon {
            color: #e4f8f0;
            font-size: 55px;
            height: 80px;
            width: 65px;
            margin: 25px 0 0 10px;
        }
    }

    .msgRight {
        color: #1ea97c;
        border-radius: 0 10px 10px 0;
        background-color: #e4f8f0;
        font-size: 15px;
        padding: 0 0 15px 15px;
    }
}

::ng-deep .error {

    .msgLeft {
        background-color: #ff5757;
        border-radius: 10px 0 0 10px;

        .icon {
            color: #ffe7e6;
            font-size: 55px;
            height: 80px;
            width: 65px;
            margin: 25px 0 0 10px;
        }
    }

    .msgRight {
        color: #ff5757;
        border-radius: 0 10px 10px 0;
        background-color: #ffe7e6;
        font-size: 15px;
        padding: 0 0 15px 15px;
    }
}

::ng-deep .info {

    .mdc-snackbar__label {
        padding: 0 0 0 0;
    }

    .msgLeft {
        background-color: #7174ff;
        border-radius: 10px 0 0 10px;

        .icon {
            color: #e9e9ff;
            font-size: 55px;
            height: 80px;
            width: 65px;
            margin: 25px 0 0 10px;
        }
    }

    .msgRight {
        color: #7174ff;
        border-radius: 0 10px 10px 0;
        background-color: #e9e9ff;
        font-size: 15px;
        padding: 0 0 15px 15px;
    }
}

::ng-deep .warning {

    .mdc-snackbar__label {
        padding: 0 0 0 0;
    }

    .msgLeft {
        background-color: #cc8925;
        border-radius: 10px 0 0 10px;

        .icon {
            color: #fff2e2;
            font-size: 55px;
            height: 80px;
            width: 65px;
            margin: 25px 0 0 10px;
        }
    }

    .msgRight {
        color: #cc8925;
        border-radius: 0 10px 10px 0;
        background-color: #fff2e2;
        font-size: 15px;
        padding: 0 0 15px 15px;
    }
}

::ng-deep .mat-mdc-snack-bar-container {
    margin: 0 40px 55px 0;
    border-radius: 10px;

    .mdc-snackbar__surface {
        padding: 0 0 0 0;
        border-radius: 10px !important;
    }
}

::ng-deep .mdc-snackbar__label {
    padding: 0 0 0 0; 
}

::ng-deep .control {

    display: grid;
    place-items: center;

    .mdc-snackbar__label {
        padding: 0 0 0 0;
    }

    .msgLeft {
        display: none;
        // background-color: #ff0000;
        // border-radius: 0 0 0 0;

        // .icon {
        //     color: #e4f8f0;
        //     font-size: 55px;
        //     height: 80px;
        //     width: 65px;
        //     margin: 25px 0 0 10px;
        // }
    }

    .msgRight {
        h4{
            text-align: center !important;
            padding-left: 35%;
            // font-size: 15px;
        }
        color: #ffffff;
        border-radius: 0 0 0 0;
        background-color: #ff5757;
        font-size: 15px;
        // text-align: center;
        padding: 0 0 0 0;
    }
}