.products-tabs{
    margin-top: 30px;   
}

.test {
    margin-top: 30px;
}
.imgStyle{
    display: flex;
    justify-content: center;
}
.btnStyle {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}